*{
  margin: 0;
  padding: 0;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-image: url('/resul-mentes-DbwYNr8RPbg-unsplash.jpg');
  background-color: rgb(51,195,232);
}
.logo {
  background-color:#23439b;
  color: white;
  border-radius: 25px;
  padding: 8px;
  height: 22px;
  margin: 5px;
}
.nav{
  background-color: white;
  border: solid 1px black;
  border-radius: 25px;
  margin: 5px;
  padding: 8px;
  
}
.nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
  flex-wrap: wrap;
}
.nav a{
  text-decoration: none;
  color: black;
  transition: all 2s ease ;
}
.nav a:hover{
  color: blue;
}
.nav ul{
  list-style: none;
}
.login ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.login li{
  border: solid 1px black;
  background-color: blue;
  color: white;
  border-radius: 10px;
  padding: 8px;
  margin: 5px;
}
.login a{
  text-decoration: none;
  color: white;
  font-size: 10px;
}
.login ul{
  list-style: none;
}
.home{
background-image: url('/resul-mentes-DbwYNr8RPbg-unsplash.jpg');
background-size: cover;
height: 100vh;
width: 100%;

  background-color:  rgb(51,195,232);;
}
.headword h1{
  font-size: 35px;
  color: black;
  padding-top: 100px;
  padding-left: 7%;
}
.home p{
  font-size: 10px;
  color: black;

  padding-left: 7%;
}
.form{
  
  margin: 8px;
  padding: 3px;
   padding-left: 7%;
}
.plans ul{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  list-style: none;
  padding-left: 7%;
  
}
.plans li{
  border: solid 1px black;
  border-radius: 5px;
  padding: 7px;
  margin: 25px;
  font-size: 12px;
  font-weight: bold;
}
.uniqe{
  background-color: blue;
  color: white;
}
.plans a{
  text-decoration: none;
  
}
.pic-word{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  gap: 1rem;
  
}
.pic-word img {
  padding: 3px;
  size: cover;
  height: 80%;
  width: 50%;
}
.word{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}
.word h1{
  color: black;
  font-size: 38px;
  padding: 5px;
  
}
.word p{
  color: black;
  font-size: 10px;
}

.word h2{
  color: blue;
  font-size: 38px;
}
.word h3{
  font-size: 45px;
  color: #50c276;
}
.word h4{
  font-size: 25px;
  
}
.features{
  padding: 20px;
  background-color: #bac3f1;
}
.sec2{
    display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px;
}
.track{
  text-align: center;
  font-size: 28px;
  
}
.track-button{
    display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 25px;
}
.track-button p{
  border: solid 1px black;
  font-weight: bold;
border-radius: 8px;
padding: 10px;
background-color: white;
}
.track-button .blue{
  background-color: blue;
  color: white;
}
.track-img{
    display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 30px;
}
.text5{
    display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}
.text5 ul{
  padding: 17px;
}
.text5 p{
  font-weight: bold;
  font-size: 14px;
}
.text8 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: black;
  color: white;
  padding: 50px;
}
.text8 {
  text-align: center;
  
}
.about img{
  width: 100%;
  background-color: rgba(0,0,0,0.9);
}
.fom{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  gap: 1rem;
}
.contact{
    background-color: rgb(198,227,246);
    padding: 20px;
    
}
.contact p{
  padding: 5px;
  text-align: center;
}
.contact h2{
  padding: 5px;
  text-align: center;
}
contact input{
  border-radius: 2px ;
}